<div
  *ngIf="usersList$ | async as usersList"
  class="row flex-column justify-content-center align-items-center gap-2"
>
  <mat-nav-list
    class="col-6 d-flex flex-column justify-content-center align-items-center gap-3"
  >
    <mat-list-item
      [routerLink]="['user', user?.id]"
      class="row justify-content-between align-items-center"
      *ngFor="let user of usersList?.data"
    >
      <img
        matListAvatar
        async
        decoding="lazy"
        class="col-1"
        [src]="user?.avatar"
        alt="avatar"
      />
      <a class="col-11" matLine>{{ user?.first_name }} {{ user?.last_name }}</a>
    </mat-list-item>
  </mat-nav-list>

  <mat-paginator
    class="col-6 d-flex justify-content-center align-items-center"
    #matPaginator
    (page)="getUsersList(matPaginator.pageIndex + 1)"
    [pageIndex]="usersList.page - 1"
    [length]="usersList?.total"
    [pageSize]="usersList?.per_page"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
