<div
	*ngIf="usersList$ | async as usersList"
	class="row flex-column justify-content-center align-items-stretch gap-2"
>
	<mat-nav-list
		(click)="$event.stopPropagation()"
		class="col-12 d-flex flex-column justify-content-center align-items-center gap-3"
	>
		<mat-list-item
			[routerLink]="['user', user?.id]"
			*ngFor="let user of usersList?.data"
		>
			<img
				matListAvatar
				async
				decoding="lazy"
				[src]="user?.avatar ?? 'avatar'"
				alt="avatar"
			/>
			<a matLine>{{ user?.first_name ?? "loading" }} {{ user?.last_name }}</a>
		</mat-list-item>
	</mat-nav-list>

	<mat-paginator
		class="col d-flex justify-content-center align-items-center"
		#matPaginator
		(page)="getUsersList(matPaginator.pageIndex + 1)"
		[pageIndex]="usersList.page - 1"
		[length]="usersList?.total"
		[pageSize]="usersList?.per_page"
		aria-label="Select page"
	>
	</mat-paginator>
</div>
