/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: clamp(105%, calc(100% + 0.5vw), 150%);
	margin: 0;
	color: currentColor;
}
