<div class="container">
  <div class="row justify-content-center align-items-center">
    <div
      matRipple
      class="col-9 row flex-column justify-content-center align-items-center gap-2"
    >
      <img
        async
        decoding="lazy"
        style="border-radius: 50%"
        class="col-6 d-flex justify-content-center align-items-center bg-gradient"
        [src]="user?.avatar ?? 'https://avatar.oxro.io/avatar.svg'"
        alt="avatar"
      />
      <h1 class="col-6 text-center h1 fs-3">
        {{ user?.first_name ?? "Search" }} {{ user?.last_name ?? "above" }}
      </h1>
    </div>
  </div>
</div>

<!-- <identicon-svg username="alienHead66"></identicon-svg> -->
